<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-12">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect - Fake News Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header>
        <h1>Connect With Us</h1>
    </header>

    <section>
        <h2>Get in Touch</h2>
        <p>We'd love to hear from you! Feel free to connect with us via our social media or send us an email.</p>
        <p>Twitter: <a href="https://x.com/BugxGamer" target="_blank">@BugxNews</a></p>
        <p>Email: <a href="mailto:bugxgamers@gmail.com">bugxgamers@gmail.com</a></p>
    </section>

</body>
</html>
